<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自清关指导</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .bs-example{
            margin: 20px;
        }
    </style>



</head>

<body >
    <div class = "container">
        <div>
            <h3 class="text-center my-5"><stront>中文版</stront></h3>

            <p>您好：</P>



            <p>我是凯运物流的Ronnie。这票货柜已经抵达，请尽快前去海关办理清关。如果有此前收货人进入加拿大的时候申报免税货物清单，请一并携带，可以免除一些税费。多谢！流程如下:</p>



            <p>个人清关所需文件的包括： HBL, CI&PL和EMNFT以及Closemessage。我已经将所有文件粘贴在附件里一并发送。 清关时，请打印并随身携带本邮件附件中所列文件（commercial invoice, packing list, house bill of lading, emanifest）。此外还需要提供护照、驾照、枫叶卡等能够证明个人身份的证件（建议至少带2个ID）。必须携带能够给提供在加拿大身份的枫叶卡或加国护照</p>



            <p>清关地址为CBSA Address: 2720 Britannia Rd E, Mississauga, ON L4W 2P7 海关会问一些基本问题，只要如实回答就可以了。 清完关之后，海关会返您盖章的文件（请务必让海关将下面文件中 名字带EMNFT， 以及Closemessage的两张文件（总共4个文件）都要盖章，否则铁路终端无法更新系统），请您收到此文件后将盖章文件扫描并返回我司邮箱。</p>



            <p>如有疑问可以随时电话联系我，多谢. 我司将安排派送在12月2日，下周一中午12点，将本货柜送至：33 PERIGO COURT,RICHMOND HILL,ONTARIO CANADA L4E 1K3 处， live unload delivery， 请确认。</p>

        </div>

        <div>
            <h3 class="text-center my-5"><stront>English</stront></h3>

            <p>Dear</p>

            <p>This is Ronnie fromKtrans Logistics. The shipment in question is expected to arrive soon, with an ETA in Toronto on December 28th. Once the container arrives, I will notify you to proceed with customs clearance. If the consignee has a declared duty-free goods list from their previous entry into Canada, please bring it along, as it may help reduce some of the taxes. Thank you!</p>

            <p>Customs Clearance Process
            <p>For personal customs clearance, the required documents include: HBL, CI&PL, EMNFT, and Close Message. I have attached all the necessary documents to this email for your convenience. When clearing customs, please print and carry the attached documents (commercial invoice, packing list, house bill of lading, and emanifest).</p>

            <p>In addition, you will need to provide identification documents, such as a passport, driver’s license, and permanent resident card (PR card), or a Canadian passport. It is mandatory to bring at least one document that verifies your status in Canada, such as a PR card or Canadian passport. We recommend carrying at least two forms of ID.</p>

            <p>The customs clearance address is:  CBSA Address:2720 Britannia Rd E, Mississauga, ON L4W 2P7</p>

            <p>At customs, you will be asked some basic questions; just answer them truthfully. After the clearance, customs will return the stamped documents to you. Please ensure that the following two documents, EMNFT and Close Message, are stamped. These four files are crucial for the railway terminal to update the system. Once you receive the stamped documents, kindly scan and email them back to us.</p>

            <p>If you have any questions, feel free to contact me via email.</p>

            <p>Delivery Details</p>
            <p>Please confirm that the final delivery address for this shipment is:2346 Mississauga Road, Mississauga, L5H 2L1, Ontario.</p>

            <p>This is a drop-off delivery, and our company will move the goods to the first floor. Note that marble materials will be unloaded to the ground floor but not moved indoors.</p>



            <p>If you need to authorize someone to handle customs clearance on your behalf, please complete the authorization form attached. The authorized person must bring their own identification documents, as well as copies of the passport and driver’s license of the person granting the authorization, to customs.</p>





            <p>Lastly, please indicate the value of the items on the attached list for customs verification purposes. Thank you!</p>

            <p>Best regards,</p>

        </div>






    </div>
















</body>
</html>