{% extends "base.html" %}
{% block title %}关于我们{% endblock %}

{% block content %}
  <h1>K TRANS凯运，北美华人物流</h1>
  <div class = "container mt-3 mb-3">
    <p class="important ">
    K TRANS凯运国际物流有限公司成立于2007年，总部位于不列颠哥伦比亚省温哥华，在安大略省多伦多市和加利福尼亚州洛杉矶设有分支机构。</p>

    <p class="important">
   作为国际货运代理公司，NVOCC和北美区域的国际搬家公司，K Trans凯运在货运和海洋货运行业中经历了充满活力的公司发展历程。</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-01.jpg" class="w-75" /></p>

    </div>


    <div class = "container mt-3 mb-3">
    <p class="important ">
    通过提供业内最佳的服务，我们正在帮助您简化货运代理（我们帮助您改善供应链管理中的最后一英里交付，并为您提供触手可及的世界。）目的地将比以往更近了。我们涵盖从陆路，海洋和天空进出的货物，并处理从信封到汽车等的所有大小货物。</p>

    <p class="important">
    凯运提供最经济最全面的商业及个人货物进口服务，无论是拼箱还是整箱，无论是到港口还是门点，凯运拥有灵活的进口服务方案包括清关，拆箱，整箱拼箱配送，美加转运，无论是DDU还是DDP，凯运都能够用成熟的服务理念从容应对。</p>


    <p class="important">
    凯运物流在中国大陆，港澳台均有长期合作的货物代理，承接来自世界主要港口出口至北美的拼箱整箱产品，提供综合性无船承运人进口物流服务。</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-02.jpg" class="w-75" /></p>

    </div>


      <div class = "container mt-3 mb-3">
    <p class="important ">
   同时凯运物流出口部也提供各种商业及个人物品从北美出口至中国乃至世界各地，凯运拥有丰富的经验来处理个人行李，家具回国，搬家回流，我们利用完善的物流系统，先进的服务理念，优质的行李家具包装材料及技巧，来确保每一位客人的物品都能够完好无损快速的到达家中。</p>

    <p class="important">
    我们为专业的亚马逊卖家提供一站式运输解决方案，例如运输，清关，存储，包装，标签等。</p>


    <p class="important">
    我们还承担特斯拉项目，以确保按计划交货的及时性。这些经验使我们能够处理北美的各种物流项目。</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-03.jpg" class="w-75" /></p>

    </div>

    <h1>我们的目标</h1>
  <div class = "container mt-3 mb-3">
    <p class="important ">
   通过我们遍布全球的代理网络提供最全面，可靠和高效的解决方案，我们努力满足您的所有货运需求并超出您的期望。</p>


  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-04.jpg" class="w-75" /></p>

    </div>

{% endblock %}