{% extends "base.html" %}
{% block title %}Solutions{% endblock %}

{% block navbar %}
    <div class = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">Ktrans</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/homepage/">货单操作<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus/">aboutus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/solutions/">solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="/lvsInput/first/">LVS录入</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="nav-link" href="/">中文</a>
          </div>
        </nav>
    </div>
     {% endblock %}

{% block content %}

    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>Ocean Freight</strong></p>

             <ul >
               <li class = "my-3" >FCL: Full container load</li>
               <li class = "my-3" >LCL: less than container load</li>
               <li class = "my-3" >Door to door/Port to port/Door to port</li>
               <li class = "my-3" >Vehicle Shipping</li>
               <li class = "my-3" >DDP DDU DAP</li>
             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-01.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-02.jpg" class="w-100 my-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>Air Freight</strong></p>

             <ul >
               <li class = "my-3" >International air freight</li>
               <li class = "my-3" >Canada domestic air freight</li>
               <li class = "my-3" >Canada-US air transportation</li>
               <li class = "my-3" >Perishable shipment</li>

             </ul>

          </div>

      </div>
    </div>


    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>Ground Freight</strong></p>

             <ul >
               <li class = "my-3" >Canada local cartage, Door to Door</li>
               <li class = "my-3" >US domestic cartage, Door to Door</li>
               <li class = "my-3" >LTL: less than truck load</li>
               <li class = "my-3" >FTL: full truck load</li>
               <li class = "my-3" >Vehicle transportation</li>
               <li class = "my-3" >Long haul between Canada to US</li>
             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-03.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col m-auto">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-04.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col m-auto ">

            <p style = "font-size: 22px;"><strong>Oversea Mover</strong></p>

             <ul >
               <li class = "my-3" >Relocate Your Home to anywhere in the world</li>
               <li class = "my-3" >Move Furniture/luggage/antique Door to Door</li>
               <li class = "my-3" >Personal Effects & luggage ship back to China</li>

             </ul>

          </div>

      </div>
    </div>



    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>Customs Brokerage</strong></p>



             <ul >
               <li class = "my-3" >Canadian Customs Brokerage</li>


               <li class = "my-3" >U.S. Customs Brokerage</li>

             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-05.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


     <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-06.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>Express Courier</strong></p>

             <ul >
               <li class = "my-3" >Packages to China mainland, Catch up time for your Milk powers & Health Products</li>
               <li class = "my-3" >Only 7-10 business days to door</li>
               <li class = "my-3" >Customs & all taxes included</li>


             </ul>

          </div>

      </div>
    </div>


    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>Amazon FBA</strong></p>

             <ul >
               <li class = "my-3" >LTL and FTL delivery services for all FBA warehouse in North America</li>
               <li class = "my-3" >Competitive trucking rate and best transit time</li>
               <li class = "my-3" >Full return service, Labeling Relabeling, Palletizing</li>

             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-07.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-08.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>Distribution</strong></p>

             <ul >
               <li class = "my-3" >e-Commerce Fulfillment</li>
               <li class = "my-3" >Retail Fulfillment</li>
               <li class = "my-3" >Business Storage</li>

             </ul>

          </div>

      </div>
    </div>










{% endblock %}