<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>局部修改</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<body>

    {% for message in get_flashed_messages() %}
            <div class="container alert "><h2>{{ message }}</h2></div>
    {% endfor %}

    <div class = "container p-2 mx-auto my-5" >

        <h3 class="text-center">{{ID}}货柜号{{myresult[0][15]}}局部修改</h3>

         <h5 id="unsaveWarning"
            class="text-center text-danger font-weight-bold mt-2"
            style="display:none;">
            ⚠ Unsaved Changes
        </h5>

    </div>






<div class = "container mb-5"  >



        <form method="post"  enctype="multipart/form-data">

            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                <div class="form-row ">
                    <!--标注是否扣货  -->
                    <div class="form-group col-md-3">
                          <label for="hold" class="form-label">是否扣货</label>
                          <select id="hold" name = "hold" class="form-control">
                                <option selected>{{myresult[0][0]}}</option>
                                <option >暂时扣货</option>
                                <option >国内放货</option>
                           	    <option >我司扣货</option>
                                <option >欠款扣货</option>
                                <option >未知</option>


                          </select>
                    </div>


                   <!--标注货物状态  -->
                    <div class="form-group col-md-3">
                          <label for="status" class="form-label">货物状态</label>
                          <select id="status" name = "status"  class="form-control">
                                <option selected>{{myresult[0][1]}}</option>
                                <option >AT SEA</option>
                                <option >IN PORT</option>
                           	    <option >ON RAIL</option>
                                <option >ON FLOOR</option>
                                <option >PICKEDUP</option>
                                <option >BOOKED</option>
                                <option >DELIVERED</option>
                                <option >CANCELED</option>


                          </select>
                    </div>

                     <!--标注火车公司  -->
                    <div class="form-group col-md-3">
                          <label for="train_company" class="form-label">火车公司</label>
                          <select id="train_company" name = "train_company"  class="form-control">
                                <option selected> {{myresult[0][2]}}</option>
                                <option >CN</option>
                                <option >CP</option>
                                <option >未知</option>
                                <option >不上火车</option>

                          </select>
                    </div>

                    <!--标抵达终端时间  -->
                    <div class="form-group col-md-3">
                        <label for="eta" class="form-label">抵达终端时间</label>
                        <input type="datetime-local" class="form-control" id="eta" name = "eta"   value = "{{myresult[0][3]}}">
                    </div>

                </div>


                <div class="form-row bg-light text-dark">




                    <!--标注货物数量  -->
                    <div class="form-group col-md-3">
                        <label for="amount" class="form-label">货物数量</label>
                        <input type="text" class="form-control" id="amount" name = "amount"  value = "{{myresult[0][4]}}">
                    </div>

                    <!--标注长宽高  -->
                    <div class="form-group col-md-8">
                            <label for="size" class="form-label">长宽高</label>
                            <input type="text" class="form-control" id="size" name = "size"  value = "{{myresult[0][5]}}" >

                    </div>

                </div>



                    <!--标注紧急事项  -->
                    <div class="form-group mb-5">
                        <label for="remark" class="form-label">紧急事项</label>
                        <textarea class="form-control" id="remark" name = "remark"  rows="3" >{{myresult[0][6]}}</textarea>
                    </div>

                </div>



            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                <div class="form-row bg-light text-dark">
                     <!--标注收货人地址  -->
                    <div class="form-group col-md-6">
                        <label for="address" class="form-label">收货人地址</label>
                        <input type="text" class="form-control" id="address" name = "address" value = "{{myresult[0][7]}}">
                    </div>

                    <!--标注派送方式 -->
                    <div class="form-group col-md-3">
                          <label for="delivery_type" class="form-label">派送方式</label>
                          <select id="delivery_type" name = "delivery_type" class="form-control">
                                <option selected>{{myresult[0][8]}}</option>
                                <option >DOCK TO DOCK</option>
                                <option >TAILGATE</option>
                                <option >FORKLIFT </option>
                                <option >FLATBED</option>
                                <option >搬运入户</option>
                                <option >未知</option>
                                <option >自提</option>



                          </select>
                    </div>

                    <!--标注LFD Warehouse  -->
                    <div class="form-group col-md-3">
                        <label for="lfdwarehouse" class="form-label">LFD Warehouse</label>
                        <input type="date" class="form-control" id="lfdwarehouse" name = "lfdwarehouse" value = "{{myresult[0][9]}}">
                    </div>


                </div>



                <div class="form-row ">

                    <!--标注付费方式  -->
                    <div class="form-group col-md-3">
                          <label for="payment_methods" class="form-label">付费方式</label>
                          <select id="payment_methods" name = "payment_methods" class="form-control">
                                <option selected>{{myresult[0][10]}}</option>
                                <option >DDU</option>
                                <option >DDP</option>
                                <option >ALL ON CLIENT</option>
                                <option >DDP不包GST</option>

                          </select>
                    </div>

                    <!--标注收货人电邮  -->
                    <div class="form-group col-md-6">
                        <label for="email" class="form-label">收货人电邮</label>
                        <input type="text" class="form-control" id="email" name = "email" value = "{{myresult[0][11]}}">
                    </div>




                     <!--标注清关方式  -->
                    <div class="form-group col-md-3">
                          <label for="broker" class="form-label">清关方式</label>
                          <select id="broker" name = "broker"  class="form-control">

                                <option selected value = "{{broker_id}}">{{broker}}</option>
                                {% for i in brokerList %}
                                    <option value = "{{i[0]}}">{{i[1]}}</option>
                                {% endfor %}
                          </select>
                    </div>

                </div>

                </div>



                <label  class="form-label">更新操作进程</label>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="process" value = "确认地址POA!">确认地址POA!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "递送清关资料!">递送清关资料!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "税单草稿待确认!">税单草稿待确认!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "税单草稿已确认!">税单草稿已确认!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "通知仓库更新!">通知仓库更新!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "上家费用待确认!">上家费用待确认!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "上家费用国内付!">上家费用国内付!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "上家费用收货人付!">上家费用收货人付!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "通知仓库放货!">通知仓库放货!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "等待收货人付款!">等待收货人付款!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "收货人已付款!">收货人已付款!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "PU#已有!">PU#已有!<br>
                    <input type="checkbox" class="form-check-input" name="process" value = "已预约卡车公司!">已预约卡车公司!<br>

                </div>
                <br>


            {% if current_user.job_id== "ronnie" or current_user.job_id== operator or current_user.job_id== "tina" %}

                <div class="form-row" >
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>

            {% else %}

                <div class="form-row" >
                    <h3 class = "bg-primary text-white mt-3">很抱歉，只有本单操作员或者Ronnie和Tina才可以修改相关信息！</h3>
                </div>


            {% endif  %}




        </form>

<script>

let isChanged = false;

document.addEventListener("DOMContentLoaded", function () {

    const form = document.querySelector("form");
    const warning = document.getElementById("unsaveWarning");



    // 监听所有 input, select, textarea
    const elements = form.querySelectorAll("input, select, textarea");

    elements.forEach(function (el) {

        el.addEventListener("change", function () {
            if (!isChanged) {
                warning.style.display = "block";
                isChanged = true;
            }
        });

        el.addEventListener("input", function () {
            if (!isChanged) {
                warning.style.display = "block";
                isChanged = true;
            }
        });

    });

    // 提交时清除提示
    form.addEventListener("submit", function () {
        warning.style.display = "none";
        isChanged = false;
    });

});

window.addEventListener("beforeunload", function (e) {
    if (isChanged) {
        e.preventDefault();
        e.returnValue = '';
    }
});

</script>

</body>
</html>