{% extends "base.html" %}
{% block title %}about us{% endblock %}

{% block navbar %}
    <div class = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">Ktrans</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/homepage/">货单操作<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus/">aboutus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/solutions/">solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"href="/lvsInput/first/">LVS录入</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <a class="nav-link" href="/">中文</a>
          </div>
        </nav>
    </div>
     {% endblock %}

{% block content %}
  <h1>WHO WE ARE</h1>
  <div class = "container mt-3 mb-3">
    <p class="important ">
    K Trans Worldwide Logistics Ltd was founded in 2007 and based in Vancouver, British Colombia, branched in Toronto Ontario and Los Angeles, California.</p>

    <p class="important">
    As an International Freight Forwarder, NVOCC and Oversea s Mover in (North America) Canada and U.S, K Trans has experienced a dynamic company growth within the freight and ocean cargo industry.</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-01.jpg" class="w-75" /></p>

    </div>


    <div class = "container mt-3 mb-3">
    <p class="important ">
    By providing the best service in the industry, we’re helping make freight forwarding easy for you (We help you improve the last-mile delivery on the supply chain management, and bring the world to you within the reach.) closer to you making destinations seem that much closer. wWe cover inbound and outbound shipments from land, the ocean and skies, and handle all size of shipment from envelops to vehicles.</p>

    <p class="important">
    K Trans provides the most economical and comprehensive import service of commercial and personal cargo, whether it is LCL or FCL, whether it is to the port or the door, K Trans has a flexible import service program including customs clearance, unpacking, FCL LCL distribution , US and Canada transshipment, whether it is DDU or DDP, We can calmly respond with mature service concepts.</p>


    <p class="important">
    K Trans has long-term cooperative cargo agents in mainland China, Hong Kong, Macao and Taiwan. It undertakes LCL products exported from major ports in the world to North America, and provides comprehensive non-vessel carrier import logistics services.</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-02.jpg" class="w-75" /></p>

    </div>


      <div class = "container mt-3 mb-3">
    <p class="important ">
   Meantime, K Trans Logistics Export Department also provides a variety of commercial and personal items exported from North America to China and even around the world. We have tremendous experiences in handling personal luggage, furniture returning to China, and moving back. We use a comprehensive logistics system and advanced services. high-quality luggage furniture packaging materials and skills to ensure that each guest's items can arrive intact and quickly at home.</p>

    <p class="important">
    We offer a one-stop shipping solution for professional Amazon sellers such as shipping, custom clearance, storage, package, label etc.</p>


    <p class="important">
    We also undertake Tesla Projects to ensure the timeliness of scheduled deliveries. Such experiences enable us to handle various logistics projects in North America.</p>

  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-03.jpg" class="w-75" /></p>

    </div>

    <h1>OUR MISSION</h1>
  <div class = "container mt-3 mb-3">
    <p class="important ">
    We strive to meet all your shipment needs and exceed your expectations by providing the most comprehensive, reliable and efficient solutions through our established network of agents around the world!</p>


  </div>

    <div class = "container">

        <p class = "text-center"><img src="/static/images/aboutUs/about-04.jpg" class="w-75" /></p>

    </div>

{% endblock %}