{% extends "base.html" %}
{% block title %}主页{% endblock %}



{% block picture %}
      <div class = "container">


        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/images/slider01a.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/slider02a.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/slider03a.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/slider04b.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>

      </div>
{% endblock %}

{% block content %}

<div class = "container mt-3 mb-3">
    <p class="important ">
    K TRANS凯运国际物流有限公司成立于2007年，总部位于不列颠哥伦比亚省温哥华。公司业务涵盖加拿大和美国的各大主要城市，在安大略省多伦多市和加利福尼亚州洛杉矶均设有分支机构。</p>

    <p class="important">
   作为国际货运代理公司，NVOCC和北美区域的国际搬家公司，K Trans凯运在货运和海洋货运行业中经历了充满活力的公司发展历程。</p>

   <p class = "text-center"><img src="/static/images/home/northAmericaCities.jpg" class="w-100 m-auto" /></p>







 </div >

 <div class = "container">

      <h1 class = "text-center my-5"><strong>主要业务如下：</strong></h1>
      <hr>

 </div>



    <div class = "container mt-3 mb-3" id = "service">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>海运</strong></p>

             <ul >
               <li class = "my-3" >海运柜整柜运输</li>
               <li class = "my-3" >海运柜拼箱运输</li>
               <li class = "my-3" >门到门/港到港/门到港</li>
               <li class = "my-3" >多年汽车运输经验</li>
               <li class = "my-3" >DDP DDU DAP</li>
             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-01.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-02.jpg" class="w-100 my-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>空运</strong></p>

             <ul >
               <li class = "my-3" >国际段航空运输</li>
               <li class = "my-3" >加拿大境内航空运输</li>
               <li class = "my-3" >加拿大-美国航空运输</li>
               <li class = "my-3" >鲜活货物空运</li>

             </ul>

          </div>

      </div>
    </div>




    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>陆运</strong></p>

             <ul >
               <li class = "my-3" >加拿大本地卡车运输，门到门</li>
               <li class = "my-3" >美国本地卡车运输，门到门</li>
               <li class = "my-3" >拼车运输</li>
               <li class = "my-3" >整车运输</li>
               <li class = "my-3" >跨城转运各类汽车</li>
               <li class = "my-3" >美国-加拿大 转运</li>
             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-03.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col m-auto">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-04.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col m-auto ">

            <p style = "font-size: 22px;"><strong>国际搬家</strong></p>

             <ul >
               <li class = "my-3" >提供回流搬家服务</li>
               <li class = "my-3" >国际移民搬家服务</li>
               <li class = "my-3" >门到门搬运</li>
               <li class = "my-3" >个人行李家具古董</li>
               <li class = "my-3" >回流小件个人行李纸箱运送回国到门</li>

             </ul>

          </div>

      </div>
    </div>



    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>清关报关</strong></p>



             <ul >
               <li class = "my-3" >加拿大境内清关报关服务</li>

               <li class = "my-3" >美国境内清关报关服务</li>

               <li class = "my-3" >美加转运清关报关服务</li>

             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-05.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


     <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-06.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>快递</strong></p>

             <ul >
               <li class = "my-3" >快递包裹空运回国，奶粉保健品等都可以寄送</li>
               <li class = "my-3" >7-10个工作日配送到门</li>
               <li class = "my-3" >包税包清关</li>


             </ul>

          </div>

      </div>
    </div>


    <div class = "container mt-3 mb-3">
      <div class = "row">
          <div class = "col  m-auto">
             <p style = "font-size: 22px;"><strong>亚马逊FBA</strong></p>

             <ul >
               <li class = "my-3" >北美范围内整车拼车运送至各亚马逊仓库</li>
               <li class = "my-3" >行业内有竞争力的卡车运送价格</li>
               <li class = "my-3" >贴标换标打托退运一条龙服务</li>
               <li class = "my-3" >退运服务</li>
               <li class = "my-3" >集货服务</li>

             </ul>

          </div>
          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-07.jpg" class="w-100 m-auto" /></p>

          </div>

      </div>
    </div>


    <div class = "container mt-3  bg-light">
      <div class = "row">

          <div class = "col">
              <p class = "text-center"><img src="/static/images/aboutUs/solutions-08.jpg" class="w-100 m-auto" /></p>

          </div>

          <div class = "col  m-auto">

            <p style = "font-size: 22px;"><strong>仓储分拨</strong></p>

             <ul >
               <li class = "my-3" >电商仓储分拨配送服务</li>
               <li class = "my-3" >零售仓储分拨配送服务</li>
               <li class = "my-3" >商务仓储</li>

             </ul>

          </div>

      </div>
    </div>










{% endblock %}